.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 1000px;
  height: 293px;
  margin: auto;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 130px;
  height: 105px;
  text-decoration: none;
}

.address {
  font-style: normal;
  line-height: 24px;
}

.header__address {
  justify-self: end;
}

